@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Anton&family=Oswald:wght@500&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(https://i.pinimg.com/originals/0d/ef/fd/0deffdb191a9ac349969fae9cf373b77.jpg);
    background-repeat: no-repeat;
    background-position: 0 -110px;
    background-size: cover;
}

.pai {
    display: flex;
    text-align: center;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.562);
}

legend {
    font-size: 40px;
    margin-bottom: 20px;
    color: white;
    text-decoration: underline;
    font-family: "Anton";
}

.bem-vindo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 15px;
    opacity: 1;
    z-index: 100;
    background-color: rgba(137, 43, 226, 0.5);

}

.bem-vindo h1 {
    margin-bottom: 20px;
    font-size: 38px;
    text-decoration: underline;
    font-family: "Agbalumo";
    color: white;
    filter: drop-shadow(5px 3px 1px rgb(114, 35, 187));
    font-weight: 400;
}

.bem-vindo button {
    position: relative;
    top: 50px;
    padding: 15px 20px 15px 20px;
    border-radius: 30px;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.bem-vindo button:hover {
    transition: all 1s;
    background-color: blueviolet;
}

.register, .login {
    width: 25vw;
    border-radius: 0 15px 15px 0;
    padding: 20px;
}

.register form, .login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.login input, .register input {
    outline: none;
    border: none;
    padding: 8px 8px 5px 15px;
    width: 20vw;
    border-radius: 10px;
    font-size: medium;
    font-weight: 700;
}

.login a, .register a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 10px;
}

.login label, .register label {
    font-size: 24px;
    font-family: "Oswald";
}

strong {
    text-decoration: underline;
}

form a:nth-child(7) {
    position: relative;
    top: 50px;
}

.button-login, .button-register {
    padding: 15px 20px 15px 20px;
    margin-top: 15px;
    border-radius: 30px;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;;
}

.button-login:hover, 
.button-register:hover {
    transition: all 1s;
    background-color: blueviolet;
}